<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469347581868-ri308gl31su6j2goo4crtnp4d8e9bcsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469347581868-ri308gl31su6j2goo4crtnp4d8e9bcsm</string>
	<key>API_KEY</key>
	<string>AIzaSyCGhnLvmxdKJacDPFt-FzqARzGEY9pUW6o</string>
	<key>GCM_SENDER_ID</key>
	<string>469347581868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.pharmatrack</string>
	<key>PROJECT_ID</key>
	<string>it-peac-pfe-project-6f38a</string>
	<key>STORAGE_BUCKET</key>
	<string>it-peac-pfe-project-6f38a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469347581868:ios:db19fb9078b8192679c409</string>
</dict>
</plist>